src/main/mule/logger.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7d43eb71-f7be-4517-a73a-67fdb2b006df" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="loggerFlow" doc:id="14dc2977-009f-4f8e-a6ac-24a3804fce44" >
		<http:listener doc:name="Listener" doc:id="b22cc685-ad25-4d08-a8f1-4f2dbd4da6d4" config-ref="HTTP_Listener_config" path="/logger"/>
		<logger level="INFO" doc:name="Logger" doc:id="2872a0ec-1892-4402-a689-8c43f6ca00ab" message="Before setting Payload"/>
		<set-payload value='#["Changed payload"]' doc:name="Set Payload" doc:id="90e38a87-542a-4481-9e25-b259b44289ce" />
		<logger level="INFO" doc:name="Logger" doc:id="5b2e4d19-c515-43fd-b62c-9b16821730cc" message='#["After Setting Payload , the Payload is : " ++ payload]'/>
	</flow>
</mule>
